body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(212, 45%, 89%);
}

img {
  max-width: 100%;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content {
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 25px;
}

.container .content .qrcode img {
  border-radius: 15px;
}

.container .content .info {
  width: 280px;
  margin: 0 auto;
}

.container .content .info p {
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);
}